<form>
</form>
<table class="output">
  <tr>
    <td class="label">Estimated total retirement savings needed:</td>
    <td>{{this.savingsNeeded}}</td>
  </tr>
  <tr>
    <td class="label">Age you can retire:</td>
    <td>{{this.retirementAge}}</td>
  </tr>
</table>
{{yield}}